$primaryColorDark: #000839;
$buttonColor: #000839;
$blackText: #141414;
$cyancolor: #8dfce7;
$primaryColorOrange: "#ffa41b";
// $buttonHoverColor: #19b0d6 ;
// $errorText: #ff0000f2;
// $sidebarColor: #3E3E3E;
// $bodyColor: #fff;
// $secondryColor: #0082ca;
// $successMessageBGColor:#19b0d6 ;
$backgroundWhite: #fff;


$primaryColor: #6c0ac7;